<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron">
                <div class="row">
                    <div ng-hide="allAds.ads" ng-cloak>
                        No Results!
                    </div>
                </div>
                <ul ng-show="allAds">
                    <li ng-repeat="ad in allAds.ads " class="well">
                        <!-- | filter: {'categoryId' : currentCategory} | filter: {'townId' : currentTown} -->
                        <div class="row">
                            <div class="col-md-9">
                                <h3>{{ad.title}}</h3>
                            </div>
                            <div class="col-md-3">
                                <span class="pull-right">{{ad.date | date: 'd-MMM-yyyy'}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img ng-src="{{ad.imageDataUrl}}" src="http://img2.wikia.nocookie.net/__cb20130511180903/legendmarielu/images/b/b4/No_image_available.jpg" class="imageFullSize">
                            </div>
                            <div class="col-md-8">
                                <div>
                                    {{ad.text}}
                                </div>
                                <div>
                                    <div><strong>Name: {{ad.ownerName}}</strong></div>
                                    <div><strong>Email: {{ad.ownerEmail}}</strong></div>
                                    <div><strong>Phone: {{ad.ownerPhone}}</strong></div>
                                    <div><strong>TownID: {{ad.townId}}</strong></div>
                                    <div><strong>CategoryID: {{ad.categoryId}}</strong></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Category</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href ng-click="categoryClicked('')" ng-class="{'activeClass': ''==currentCategory}">All Categories</a>
                            </li>
                            <li ng-repeat="category in categories">
                                <a href ng-click="categoryClicked(category.id)" ng-class="{'activeClass': category.id==currentCategory}">{{category.name}} </a>
                                <!-- tuka za category-->
                            </li>
                        </ul>
                        <p>{{currentCategory}}</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Towns</h3>
                    </div>
                    <div class="panel-body">
                        <!-- -->
                        <ul>
                            <li>
                                <a href ng-click="townClicked('')" ng-class="{'activeClass': ''==currentTown}">All Towns</a>
                            </li>
                            <li ng-repeat="town in towns">
                                <a href ng-click="townClicked(town.id)" ng-class="{'activeClass': town.id==currentTown}">{{town.name}}</a>
                            </li>
                        </ul>
                        <p>{{currentTown}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div>
            <pagination total-items="totalItems" items-per-page="adsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>

    </div>
</div>
