<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">My Ads</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <a ng-click="myAdsFilter('')" ng-class="{'activeClass': ''==currentStatus}">All</a>
                        </li>
                        <li>
                            <a ng-click="myAdsFilter('Published')" ng-class="{'activeClass': 'Published'==currentStatus}">Published</a>
                        </li>
                        <li>
                            <a ng-click="myAdsFilter('WaitingApproval')" ng-class="{'activeClass': 'WaitingApproval'==currentStatus}">Waiting Approval</a>
                        </li>
                        <li>
                            <a ng-click="myAdsFilter('Inactive')" ng-class="{'activeClass': 'Inactive'==currentStatus}">Inactive</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-9">
            <div class="jumbotron">
                <ul>
                    <li ng-repeat="ad in allAds " class="well">
                        <!-- | filter: {'status' : currentStatus}-->
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>{{ad.title}}</h3>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="pull-right">{{ad.date | date: 'd-MMM-yyyy'}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img ng-src="{{ad.imageDataUrl}}" src="http://img2.wikia.nocookie.net/__cb20130511180903/legendmarielu/images/b/b4/No_image_available.jpg" class="imageFullSize">
                                    </div>
                                    <div class="col-md-8">
                                        <div>
                                            {{ad.text}}
                                        </div>
                                        <div>
                                            <div><strong>Town: {{ad.townName}}</strong></div>
                                            <div><strong>Category: {{ad.categoryName}}</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="col-md-2">
                                    <p>Status</p>
                                    <div><strong>{{ad.status}}</strong></div>

                                    <p>
                                        <button class="btn btn-primary" ng-click="deactivate(ad.id)" ng-hide="showAdButtons(ad.status)">Deactivate</button>
                                        <button class="btn btn-primary" ng-click="editAd(ad.id)" ng-show="showAdButtons(ad.status)">Edit</button>
                                        <button class="btn btn-primary" ng-click="publishAdAgain(ad.id)" ng-show="showAdButtons(ad.status)">Publish Again</button>
                                        <button class="btn btn-primary" ng-click="deleteAd(ad.id)" ng-show="showAdButtons(ad.status)">Delete</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <pagination total-items="totalItems" items-per-page="adsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
    </div>
</div>
