<div class="container">
    <div class="row">
        <div class="col-md-3">
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                        <h3 class="panel-title">My Ads</h3>
                    </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <a ng-click="myAdsFilter('')">All</a>
                        </li>
                        <li>
                            <a ng-click="myAdsFilter('Published')">Published</a>
                        </li>
                        <li>
                            <a ng-click="myAdsFilter('WaitingApproval')">Waiting Approval</a>
                        </li>
                        <li>
                            <a ng-click="myAdsFilter('Inactive')">Inactive</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-9">
            <div class="jumbotron">
                <ul>
                    <li ng-repeat="ad in allAds | filter: {'status' : currentStatus}" class="well">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>{{ad.title}}</h3>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="pull-right">{{ad.date | date: 'd-MMM-yyyy'}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img ng-src="{{ad.imageDataUrl}}" src="http://img2.wikia.nocookie.net/__cb20130511180903/legendmarielu/images/b/b4/No_image_available.jpg" class="imageFullSize">
                                    </div>
                                    <div class="col-md-8">
                                        <div>
                                            {{ad.text}}
                                        </div>
                                        <div>
                                            <div><strong>Town: {{ad.townName}}</strong></div>
                                            <div><strong>Category: {{ad.categoryName}}</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="col-md-2">
                                    <p>Status</p>
                                    <div><strong>{{ad.status}}</strong></div>

                                    <p>
                                        <button class="btn btn-primary" ng-click="deactivate()">Deactivate</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
