<div class="well bs-component col-md-5 col-md-offset-2">
    <div class="row" ng-show="showSuccessMessage">
        <div class="alert alert-success">
            <a href="#/user/ads" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> ReservedAdvertisement edited. Don't forget to submit it for publishing.
        </div>
    </div>
    <form class="form-horizontal ng-pristine ng-valid" name="editAd">
        <fieldset>
            <legend>Edit Ad</legend>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="adTitle" class="col-md-2 control-label">Title</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="adTitle" ng-model="ad.title" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="adText" class="col-md-2 control-label">Text</label>
                        <div class="col-md-10">
                            <textarea rows="4" ng-model="ad.text" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="adImage" class="col-md-2 control-label">Image</label>
                        <span class="col-md-2 pull-pight">
                            <input type="file" fileread="ad.imageDataUrl " ng-model="browseImage" />
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Category</label>

                        <select ng-model="ad.categoryId" ng-options="category.id as category.name for category in categories">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Town</label>
                        <select ng-model="ad.townId" ng-options="town.id as town.name for town in towns" ng-selected="town.id == 'Varna '">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div id="pictureBackground">
                        <img src="http://shop.camtecphoto.com/img/picture_placeholder.png" ng-src="{{oldImage}}" class="imageFullSize">
                        <!-- ng-if="ad.imageDataUrl != null" -->
                    </div>
                    <div>
                        <button class="btn btn-info col-md-offset-3" ng-click="changeImage()">Change Image</button>
                    </div>
                    <div>
                        <button class="btn btn-info col-md-offset-3" ng-click="deleteImage()">Delete Image</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" ng-click="edit(ad)" ng-disabled="editAd.$invalid">Edit</button>
                        <a href="#/user/ads">
                            <button class="btn">Cancel</button>
                        </a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
