<div class="row">
    <div class="col-md-3 col-md-offset-2">
        <div class="well bs-component">
            <form name="editProfile" class="form-horizontal">
                <fieldset>
                    <legend>Edit Profile</legend>
                    <div class="form-group">
                        <div>
                            <label for="name" class="control-label">Name</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="name" ng-model="profile.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="email" class="control-label">Email</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" id="email" ng-model="profile.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="phone" class="control-label">Phone</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="tel" class="form-control" id="phone" ng-model="profile.phoneNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label class="control-label">Town</label>
                        </div>
                        <select ng-model="profile.townId" ng-options="town.id as town.name for town in towns" ng-selected="town.id == 'Varna '">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button ng-disabled="editProfile.$pristine" type="submit" class="btn btn-primary" ng-click="updateProfile(profile)">Update</button>
                            <span class="pull-right"><a href="#/user/home">Cancel</a></span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <div class="well bs-component">
            <form name="changePassword" class="form-horizontal">
                <fieldset>
                    <legend>Change Password</legend>
                    <div class="form-group">
                        <div>
                            <label for="name" class="control-label">Old Password</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="password" ng-model="password.oldPassword" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="newPass" class="control-label">New Password</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="newPass" ng-model="password.newPassword" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="confirmNewPass" class="control-label">Confirm New Password</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="confirmNewPass" ng-model="password.confirmPassword" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit"  ng-disabled="changePassword.$pristine || password.newPassword != password.confirmPassword || changePassword.$invalid" ng-click="changePass(password)" class="btn btn-primary">Change Password</button>
                            <span class="pull-right"><a href="#/user/home">Cancel</a></span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
