.pesho {
	color:red;
}

.pesho:hover {
	color:blue 
}
.even_row {
	background: red;
}
.imageFullSize {
    width: 100%;
    height: 100%;

}
textarea {
    width: 100%;
}
#pictureBackground {
    background-color: #EBB796;
}
input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
    background-color: red;
}
ul {
    list-style-type: none;
}
.activeClass {
    background-color: #A5B6E8;
}
